In [1]:
# =============================================================================
#
# Analisis básico
#
# =============================================================================

#
# Carga de datos
#
import nbimporter  #  type: ignore
import functions  #  type: ignore


df_orig = functions.load_data()
display(df_orig.head())
display(df_orig.shape)

            yt_true
date
1946-01-01      890
1946-02-01      992
1946-03-01      979
1946-04-01      959
1946-05-01     1110

(252, 1)

In [3]:
#
# Grafico de la serie
# La serie correspondiente al número total de personas empleadas
# mensualmente como mano de obra en el condado de Sutter
# (California) entre 1946:01 y 1966:12. Se deben usar los primeros
# 228 (de 1946:1 a 1964:12) datos para especificar el modelo y los
# 24 datos restantes (1965:1 a 1966:12) para evaluar el pronóstico
# un mes adelante por fuera de la muestra de calibración de
# los parámetros.
#
functions.plot_time_series(df_orig)

AttributeError: module 'functions' has no attribute 'plot_time_series'